@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.header-container{
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, #FFA400, #CF4520, #7C2629);
}
.header{
    margin-left: 2.5%;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.header-2{
    margin-left: 2.5%;
    font-family: 'Montserrat', sans-serif;
    color: black;
}